@import url(./variables.css);
@import url(./card.css);
@import url(./search.css);
@import url(./animations.css);

body {
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: center; */
    background-color: var(--theme-bg-color);
    font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

#app {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0;
    gap: 50px 0;
}

.characters {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    flex-basis: 100%;
}

[data-clipboard=""] .card__link {
    cursor: pointer;
}

.clipboard-modal {
    pointer-events: none;
    position: absolute;
    bottom: 150px;
    background-color: var(--theme-main-color);
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 4px 12px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px -1px;
    opacity: 0;
}

.clipboard-modal--active {
    animation: showClipboardModal 1s linear;
}