@import url(./variables.css);
@import url(./card.css);
@import url(./search.css);
@import url(./utils.css);
@import url(./filters.css);

body {
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: center; */
    background-color: var(--theme-bg-color);
    font-family: -apple-system, system-ui, "BlinkMacSystemFont", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

#app {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0;
    gap: 50px 0;
}

.characters {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}