@import url(./variables.css);
@import url(./characters.css);
@import url(./search.css);

body {
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: center; */
    background-color: var(--theme-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

#app {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}